
.top, .footer {
    display: flexbox;
    flex: auto;

    background-color: #1F2937;


}

.top {
    display: flexbox;
    flex: auto;
}

.header {
    display: flex;
    flex: auto; 
    margin: auto;
}

#logo {
    display: flex;
    flex: auto;
    justify-content: center;

    font-size: 24px;
    color: #F9FAF8;
}

#links {
    display: flex;
    flex: auto;
    justify-content: space-around;
    margin: auto;

    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
}

#main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#subtext {
    font-size: 18px;
    color: #E5E7EB;
}

#sign-up {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
}


.quote-section {
    display: flexbox;
    flex: auto;
    justify-content: space-around;


}

#quote {
    display: flex;
    flex: auto;
    justify-content: space-around;
    padding: 10%;
    background-color: #E5E7EB;
    text-align: center;

    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
